<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTechnology</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!--Header Cabecera de la pagina-->
    <header>
        <div>
            
            <img src="../images/iTech_logo1.png" alt="iTech_logo1.png">
            <h1>íTechnology</h1>
        </div>
            
        <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/views/contacto.html">Conatcto</a></li>
                    <li><a href="/views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="/views/productos.html">Producto</a></li>
                </ul>
                <form>
                    <input type="search" placeholder="Buscar">
                    <input type="submit" value="Go">
                </form>
        </nav>
    </header>
    <main>
        
        <!--Nuestra seccion de galeria-->
        <section>
            <h3>NUESTRA GALERIA</h3>
            <p>Bienvenidos a nuestra galeria de productos de la mejor tienda online iTechnology</p>
        </section>
        <section>
            <div class="galeria">
                <div class="gal">
                    <img src="../images/Acer_portatil.jpg" alt="Acer">
                </div>
                <div class="gal">
                    <img src="../images/PC HP 15S-EQ.jpg" alt="PC HP">
                </div>
                <div class="gal">
                    <img src="../images/PC MSI Raider.jpg" alt="PC MSI">
                </div>
                <div class="gal">
                    <img src="../images/PC Samsung.jpg" alt="PS SAMSUNG">
                </div>
                <div class="gal">
                    <img src="../images/HP_portatil.jpg" alt="HP Portatíl">
                </div>
                <div class="gal">
                    <img src="../images/Promo1.jpg" alt="Promo1">
                </div>
                <div class="gal">
                    <img src="../images/Galaxy A36.jpg" alt="Galaxy A36">
                </div>
                <div class="gal">
                    <img src="../images/Galaxy S24.jpg" alt="Samsung S24">
                </div>
                <div class="gal">
                    <img src="../images/Galaxy.S24.jpg" alt="Samsung S24">
                </div>
                <div class="gal">
                    <img src="../images/iPhone 15 Plus.jpg" alt="iPhone 15 Plus">
                </div>
                <div class="gal">
                    <img src="../images/iPhone 16 Plus.jpg" alt="iPhone 16 plus">
                </div>
                <div class="gal">
                    <img src="../images/Motorola_G15.jpg" alt="Motorola">
                </div>
                <div class="gal">
                    <img src="../images/RealmiC71.jpg" alt="RealmiC71">
                </div>
                <div class="gal">
                    <img src="../images/Samsung.jpg" alt="SAMSUNG">
                </div>
                <div class="gal">
                    <img src="../images/Xiaomi.jpg" alt="Xiaomi">
                </div>
                <div class="gal">
                    <img src="../images/home3.jpg" alt="Home">
                </div>
                <div class="gal">
                    <img src="../images/MOtorola Edge.jpg" alt="Home">
                </div>
            </div>
        </section>
    </main>
        <!--FOOTER EL PIE DE LA PAGINA-->
     <footer>
        <!--Footer del bloque de los Servicios-->
        <div class="contenido-footer">
            <div class="bloc-footer-servicios">
                    <h3>Nuestros servicios</h3>
                    <ul class="lista-servicio">
                        <li><a href="#"></a>KIT DIGITAL</li>
                        <li><a href="#"></a>Servicio técnico</li>
                        <li><a href="#"></a>Reparación Portátiles</li>
                        <li><a href="#"></a>Reparación de Móviles</li>
                    </ul>
            </div>
            <!--Footer del bloque de los horarios-->
            <div class="bloc-footer-horarios">
                    <h3>Nuestros horarios</h3>
                    <ul class="lista-horario">
                        <li>✅Lunes 9:00-20:00</li>
                        <li>✅Martes 9:00-20:00</li>
                        <li>✅Miercol9:00-20:00</li>
                        <li>✅Jueves 9:00-20:00</li>
                        <li>✅Viernes 9:00-20:00</li>
                        <li>❌Sabado Cerrado</li>
                        <li>❌Sabado Cierra</li>
                    </ul>
            </div>
            <!--Footer del bloque de los Redes Sociales-->
            <div class="bloc-footer-redes">
                    <h3>Nuestros Redes</h3>
                    <ul class="lista-redes">
                        <li><a href="../images/"><img src="../images/facebook.jpg">Facebook</a></li>
                        <li><a href="../images/"><img src="../images/instagram.jpg">Instagram</a></li>
                        <li><a href="../images/"><img src="../images/X.png">Rede X</a></li>
                        <li><a href="../images/"><img src="../images/tik tok.png">Tik Tok</a></li>
                        <li><a href="../images/"><img src="../images/youtube.jpg">Youtube</a></li>
                        <li><a href="../images/"><img src="../images/Whatsapp.jpg">WhatsApp</a></li>
                    </ul>
            </div>
        </div>        
         <div class="privado">
            <p>&copy; 2025 iTechnology-Todos los derechos reservados</p>
        </div> 
    </footer>    
</body>
</html>